<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">REGISTERED USERS</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm primary-btn" (click)="addUserModal.show()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>

<!--ADD BLOG MODAL-->
<div bsModal #addUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">ADD A NEW USER</h4>
        <button type="button" class="close pull-right" (click)="addUserModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form class="text-left">
          <div class="form-group">
            <label for="title">
              <h5>NAME</h5>
            </label>
            <input type="text" class="form-control" id="title">
          </div>
          <div class="form-group">
            <label for="email">
              <h5>EMAIL</h5>
            </label>
            <input type="text" class="form-control" id="email">
          </div>
        </form>
      </div>
      <div class="modal-footer text-center d-block">
        <button type="button" class="btn primary-btn w-50">
          REGISTER
        </button>
      </div>
    </div>
  </div>
</div>

<!--USER CARDS-->
<div class="row">
  <div class="col-md-4 col-sm-6 mb-4" *ngFor="let user of users; index as i;">
    <div class="card" style="width: 18rem">
      <a type="button" class="btn btn-delete text-center" (click)="removeSubscriptionModal.show()"
        style="top: .5rem !important;">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
      <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Weight:</b> {{user.weight}}.</li>
        <li class="list-group-item"><b>Height:</b> {{user.height}}.</li>
        <li class="list-group-item"><b>Age:</b> {{user.age}}</li>
      </ul>
    </div>
    <!--REMOVE SUBSCRIPTION MODAL-->
    <div bsModal #removeSubscriptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="dialog-sizes-name1" id="removeSubscriptionModal_{{i}}">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull-left">REMOVE SUBSCRIPTION</h4>
            <button type="button" class="close pull-right" (click)="removeSubscriptionModal.hide();" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center p-4">
            <p>Do you want to confirm?</p>
            <button type="button" class="btn secondary-btn ml-auto mr-auto d-block mb-3"
              (click)="confirm(user.uid); this.removeSubscriptionModal.hide()">Yes,
              remove it</button>
            <button type="button" class="btn primary-btn ml-auto mr-auto d-block"
              (click)="decline(); this.removeSubscriptionModal.hide()">No,
              thanks</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
