<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Usuarios dados de alta dentro del GYM</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm btn-success">+</button>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 18rem">
      <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Morgan Durham</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Peso:</b> </li>
        <li class="list-group-item"><b>Estatura:</b> </li>
        <li class="list-group-item"><b>Edad:</b> </li>
      </ul>
    </div>
  </div>
  <div class="col-md-4 col-sm-6">
    <div class="card" style="width: 18rem">
      <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Jethro Humphries</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Peso:</b> </li>
        <li class="list-group-item"><b>Estatura:</b> </li>
        <li class="list-group-item"><b>Edad:</b> </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card" style="width: 18rem">
      <img src="https://picsum.photos/200" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Zak Maldonado</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Peso:</b> </li>
        <li class="list-group-item"><b>Estatura:</b> </li>
        <li class="list-group-item"><b>Edad:</b> </li>
      </ul>
    </div>
  </div>
</div>
