<app-navbar></app-navbar>
<!-- Site Breadcrumb Begin -->
<section
  class="breadcrumb-section set-bg"
  data-setbg="img/about-breadcrumb-bg.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="site-text">
          <h2>Routines</h2>
          <div class="site-breadcrumb">
            <a href="./home.html" class="sb-item">Home</a>
            <span class="sb-item">Routines</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Site Breadcrumb End -->

<!-- Routines Section Begin -->

<div class="container">
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12" *ngFor="let routine of routines" style="padding-top: 15px; padding-bottom: 15px;">
      <div
        class="card"
        style="
          background-image: url('{{routine.img.url}}');
          border: 1px solid #ccc;
          background-size: cover;
        "
      >
      <!--EDIT AND DELETE BUTTONS-->
      <a type="button" class="btn btn-edit text-center" (click)="showRoutineModal.show()">
        <i class="fa fa-eye"></i>
      </a>
      <!--------------------------->
        <div
          class="background"
          style="background: rgba(0, 0, 0, 0.5); color: white !important"
        >
          <div class="card-content">
            <div class="card-body pb-5">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-pencil primary font-large-2 float-left"></i>
                </div>
                <div class="media-body text-left">
                  <h3 class="text-white">{{routine.name}}</h3>
                </div>
              </div>
            </div>
            <div class="card-body" style="border-top: 1px solid #ccc">
              <div class="media d-flex">
                <div class="media-body text-right">
                  <h3 class="text-white">{{routine.category}}</h3>
                  <span>Category</span>
                </div>
                <div class="align-self-center">
                  <i class="icon-rocket danger font-large-2 float-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--EDIT ROUTINE MODAL-->
      <div bsModal #showRoutineModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="dialog-sizes-name1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h4 id="dialog-sizes-name1" class="modal-title pull-left">{{routine.name}}</h4>
              <button type="button" class="close pull-right" (click)="showRoutineModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body p-4">
              <form class="text-center">
                <div class="form-group">
                  <label for="editTitle">
                    <h5>CATEGORY</h5>
                  </label>
                  <input type="text" class="form-control text-center" id="editTitle" value="{{routine.category}}">
                </div>
                <div class="form-group">
                  <label for="editContent">
                    <h5>DESCRIPTION</h5>
                  </label>
                  <textarea class="form-control" id="editContent" rows="10">{{routine.content}}</textarea>
                </div>
                <div class="modal-footer text-center d-block">
                  <button type="button" class="btn primary-btn w-50" (click)="addToRoutines(routine); showRoutineModal.hide()">
                    Assign routine
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Routines Section End -->



<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="register normal-register">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This template is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
          <div class="footer-widget">
            <ul>
              <li class="active">Privacy Policy</li>
              <li>Terms Of Service</li>
              <li>Careers</li>
            </ul>
          </div>
          <div class="footer-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="search-close-switch">+</div>
    <form class="search-model-form">
      <input type="text" id="search-input" placeholder="Search here....." />
    </form>
  </div>
</div>
<!-- Search model end -->
