<!-- Header Section Begin -->
<div *ngIf="path == '/home'; else elseBlock">
  <header class="header-section">
    <div class="container">
      <div class="logo">
        <a [routerLink]="['../home']">
          <img src="/assets/img/logo.png" alt="">
        </a>
      </div>
      <div class="nav-menu">
        <nav class="mainmenu mobile-menu">
          <ul>
            <li [ngClass]="{'active': path == '/home'}"><a [routerLink]="['../home']">Home</a></li>
            <li><a [routerLink]="['../aboutus']">About</a></li>
            <li><a [routerLink]="['../schedule']">Schedule</a></li>
            <li><a [routerLink]="['../portfolio']">Portfolio</a></li>
            <li><a [routerLink]="['../blog']">Blog</a>
              <ul class="dropdown">
                <li><a [routerLink]="['../blog-details']">Blog Details</a></li>
              </ul>
            </li>
            <li><a [routerLink]="['../contact']">Contacts</a></li>
          </ul>
        </nav>
        <div class="nav-right search-switch">
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </div>
      <div id="mobile-menu-wrap">
        <div class="slicknav_menu">
          <button type="button"
                  class="btn btn-primary slicknav_btn slicknav_collapsed"
                  style="border: black"
                  (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed"
                  aria-controls="collapseBasic">MENU
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" class="slicknav_nav slicknav_hidden">
            <ul>
              <li class="active"><a [routerLink]="['../home']" role="menuitem">Home</a></li>
              <li><a [routerLink]="['../aboutus']" role="menuitem">About</a></li>
              <li><a [routerLink]="['../schedule']" role="menuitem">Schedule</a></li>
              <li><a [routerLink]="['../portfolio']" role="menuitem">Portfolio</a></li>
              <div class=" card-header" (click)="isCollapsedSub = !isCollapsedSub"
                   [attr.aria-expanded]="!isCollapsedSub"
                   aria-controls="collapseBasic" style="border: 0px">
                Blog
                <i class="fa fa-caret-right" aria-hidden="true"></i>
              </div>
              <div id="collapseBasic2" [collapse]="isCollapsedSub" [isAnimated]="true">
                <ul>
                  <li><a [routerLink]="['../blog-details']" role="menuitem" tabindex="-1">Blog Details</a></li>
                </ul>
              </div>
              <li><a [routerLink]="['../contact']" role="menuitem">Contacts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<ng-template #elseBlock>
  <header class="header-section header-normal">
    <div class="container">
      <div class="logo">
        <a [routerLink]="['../home']">
          <img src="/assets/img/logo-normal.png" alt="">
        </a>
      </div>
      <div class="nav-menu">
        <nav class="mainmenu mobile-menu">
          <ul>
            <li><a [routerLink]="['../home']">Home</a></li>
            <li [ngClass]="{'active': path == '/aboutus'}"><a [routerLink]="['../aboutus']">About</a></li>
            <li [ngClass]="{'active': path == '/schedule'}"><a [routerLink]="['../schedule']">Schedule</a></li>
            <li [ngClass]="{'active': path == '/portfolio'}"><a [routerLink]="['../portfolio']">Portfolio</a></li>
            <li [ngClass]="{'active': path == '/blog'}"><a [routerLink]="['../blog']">Blog</a>
              <ul class="dropdown">
                <li [ngClass]="{'active': path == '/blog'}"><a [routerLink]="['../blog-details']">Blog Details</a></li>
              </ul>
            </li>
            <li [ngClass]="{'active': path == '/contact'}"><a [routerLink]="['../contact']">Contacts</a></li>
          </ul>
        </nav>
        <div class="nav-right search-switch">
          <i class="fa fa-search"></i>
        </div>
      </div>
      <div id="mobile-menu-wrap1">
        <div class="slicknav_menu">
          <button type="button"
                  class="btn btn-primary slicknav_btn slicknav_collapsed"
                  style="border: black"
                  (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed"
                  aria-controls="collapseBasic">MENU
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div id="collapseBasic1" [collapse]="isCollapsed" [isAnimated]="true" class="slicknav_nav slicknav_hidden">
            <ul>
              <li class="active"><a [routerLink]="['../home']" role="menuitem">Home</a></li>
              <li><a [routerLink]="['../aboutus']" role="menuitem">About</a></li>
              <li><a [routerLink]="['../schedule']" role="menuitem">Schedule</a></li>
              <li><a [routerLink]="['../portfolio']" role="menuitem">Portfolio</a></li>
              <div class=" card-header" (click)="isCollapsedSub = !isCollapsedSub"
                   [attr.aria-expanded]="!isCollapsedSub"
                   aria-controls="collapseBasic" style="border: 0px">
                Blog
                <i class="fa fa-caret-right" aria-hidden="true"></i>
              </div>
              <div id="collapseBasic22" [collapse]="isCollapsedSub" [isAnimated]="true">
                <ul>
                  <li><a [routerLink]="['../blog-details']" role="menuitem" tabindex="-1">Blog Details</a></li>
                </ul>
              </div>
              <li><a [routerLink]="['../contact']" role="menuitem">Contacts</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</ng-template>



<!-- Header End -->
