<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">BLOG NEWS</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button type="button" class="btn btn-sm primary-btn" (click)="addBlogModal.show()">
      <i class="fa fa-plus"></i>
    </button>
  </div>
</div>

<!--ADD BLOG MODAL-->
<div bsModal #addBlogModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">ADD A NEW BLOG</h4>
        <button type="button" class="close pull-right" (click)="addBlogModal.hide(); resetForm();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form class="text-center" [formGroup]="newsForm">
          <div class="form-group">
            <label for="title">
              <h5>TITLE</h5>
            </label>
            <input type="text" class="form-control" id="title" formControlName="title">
          </div>
          <div class="form-group">
            <label for="content">
              <h5>CONTENT</h5>
            </label>
            <textarea class="form-control" id="content" rows="8" formControlName="content"></textarea>
          </div>
          <h5 class="upload pb-3">UPLOAD AN IMAGE</h5>
          <div class="form-group mb-3 row" formGroupName="img">
            <div class="col-lg-6 mb-3">
              <label for="image">
                <h5>SELECT IMAGE</h5>
              </label>
              <button class="btn secondary-btn ml-auto mr-auto d-flex"
                onclick="document.getElementById('image').click()">Select File</button>
              <input type="file" class="form-control-file" id="image" style="display: none"
                (change)="selectedFile($event)">
            </div>
            <div class="col-lg-6">
              <label for="alt">
                <h5>ALTERNATIVE TEXT</h5>
              </label>
              <input type="text" class="form-control" id="alt" formControlName="alt">
            </div>
          </div>
          <div *ngIf="existImg">
            <label class="text-center">
              <h5>IMAGE PREVIEW</h5>
            </label>
            <div class="preview ml-auto mr-auto text-center p-3 w-75">
              <img class="rounded img-fluid align-self-center" src="{{preview}}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center d-block">
        <button type="button" class="btn primary-btn w-50" (click)="submitNews(); addBlogModal.hide();">
          POST
        </button>
      </div>
    </div>
  </div>
</div>

<!--BLOG CARDS-->
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3" style="margin: 10px 10px;" *ngFor="let new of news; index as i">
    <div class="card" style="width: 16rem;">

      <!--EDIT AND DELETE BUTTONS-->
      <a type="button" class="btn btn-edit text-center" (click)="editBlogModal.show(); patchForm(i);">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a type="button" class="btn btn-delete text-center" (click)="deleteBlogModal.show()">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </a>
      <!-------------------------->

      <img src="{{new.img.url}}" class="card-img-top" alt="...">
      <div class="card-body" style="height: 400px; overflow: scroll;">
        <h5 class="card-title">{{new.title}}</h5>
        <h6 style="text-transform: uppercase;">Content:</h6>
        <p class="card-text">{{new.content}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">{{new.date}}</small>
      </div>
    </div>

    <!--EDIT MODAL-->
    <div bsModal #editBlogModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull-left">EDIT NEWS</h4>
            <button type="button" class="close pull-right" (click)="editBlogModal.hide(); resetForm();"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-4">
            <form class="text-center" [formGroup]="editNewsForm">
              <div class="form-group">
                <label for="editTitle">
                  <h5>TITLE</h5>
                </label>
                <input type="text" class="form-control text-center" id="editTitle" formControlName="title">
              </div>
              <div class="form-group">
                <label for="editContent">
                  <h5>CONTENT</h5>
                </label>
                <textarea class="form-control" id="editContent" rows="8" formControlName="content"></textarea>
              </div>
              <h5 class="upload pb-3">UPLOAD AN IMAGE</h5>
              <div class="form-group mb-3 row" formGroupName="img">
                <div class="col-lg-6 mb-3 input-file">
                  <label for="editImage">
                    <h5>SELECT A NEW IMAGE</h5>
                  </label>
                  <button class="btn secondary-btn ml-auto mr-auto d-flex"
                    onclick="document.getElementById('url').click()">Select File</button>
                  <input type="file" class="form-control-file" id="url" style="display: none"
                    (change)="selectedFile($event)">
                </div>
                <div class="col-lg-6">
                  <label for="editAlt">
                    <h5>ALTERNATIVE TEXT</h5>
                  </label>
                  <input type="text" class="form-control text-center" id="editAlt" formControlName="alt">
                </div>
              </div>
              <div *ngIf="existImg; else currentImage;">
                <label class="text-center">
                  <h5>NEW IMAGE PREVIEW</h5>
                </label>
                <div class="preview ml-auto mr-auto text-center p-3 w-75">
                  <img class="rounded img-fluid align-self-center" src="{{preview}}">
                </div>
              </div>
              <ng-template #currentImage>
                <label class="text-center">
                  <h5>CURRENT IMAGE PREVIEW</h5>
                </label>
                <div class="preview ml-auto mr-auto text-center p-3 w-75">
                  <img class="rounded img-fluid align-self-center" src="{{currentImg}}">
                </div>
              </ng-template>
            </form>
          </div>
          <div class="modal-footer text-center d-block">
            <button type="button" class="btn primary-btn w-50" (click)="submitEditedNews(); editBlogModal.hide();">
              SAVE CHANGES
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--DELETE BLOG MODAL-->
    <div bsModal #deleteBlogModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
      aria-labelledby="dialog-sizes-name1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 id="dialog-sizes-name1" class="modal-title pull-left">DELETE BLOG</h4>
            <button type="button" class="close pull-right" (click)="deleteBlogModal.hide();" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center p-4">
            <p>Do you want to confirm?</p>
            <button type="button" class="btn secondary-btn mr-1"
              (click)="confirm(new.id, new.img.url); this.deleteBlogModal.hide()">Yes,
              delete it</button>
            <button type="button" class="btn primary-btn ml-1" (click)="decline(); this.deleteBlogModal.hide()">No,
              thanks</button>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
