<app-navbar></app-navbar>

<!-- Site Breadcrumb Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/about-breadcrumb-bg.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="site-text">
          <h2>Our Blog</h2>
          <div class="site-breadcrumb">
            <a [routerLink]="['/home']" class="sb-item">Home</a>
            <span class="sb-item">Blogs</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Site Breadcrumb End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-details">
          <div class="bd-text">
            <img src="/assets/img/blog-2.jpg" alt="">
            <h3>{{newDetails.title}}</h3>
            <div class="blog-tag">
              <div class="post-info">
                <span>Adam</span> - {{newDetails.id | date}}
              </div>
              <!-- <div class="tag-details">
                <a href="#" class="tag-event">
                  <i class="fa fa-tag"></i>
                  Cycling
                </a>
                <a href="#" class="tag-comments">
                  <i class="fa fa-comments-o"></i>
                  5 Comments
                </a>
              </div> -->
            </div>
            <p>{{newDetails.content}}</p>
            <!-- <div class="bd-video">
              <div class="row">
                <div class="col-lg-7">
                  <div class="video-bg set-bg" data-setbg="img/blog-details-video.jpg" style="background-image: url('/assets/img/blog-details-video.jpg')">
                    <div class="play-btn">
                      <a href="https://www.youtube.com/watch?v=p_dtI2bLWhY"
                         class="blog-video-popup">
                        <i class="fa fa-play"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="video-text">
                    <h5>What We Can Talk About</h5>
                    <ul>
                      <li><i class="ti-check"></i>Mauris molestie lectus in irdiet auctor.
                      </li>
                      <li><i class="ti-check"></i>Dictum purus at blandit molestie.</li>
                      <li><i class="ti-check"></i>Neque non fermentum suscipit.</li>
                      <li><i class="ti-check"></i>Donec id dui ac massa malesuada.</li>
                      <li><i class="ti-check"></i>In sit amet sapien quis orci maximus.</li>
                      <li><i class="ti-check"></i>Vestibulum rutrum diam vel eros tristique.
                      </li>
                      <li><i class="ti-check"></i>Vestibulum tempus neque at purus.</li>
                      <li><i class="ti-check"></i>Mauris nec mi nec eros viverra.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <div class="bd-info">
            <!-- <div class="bi-tags">
              <a href="#">Cycling</a>
              <a href="#">Building</a>
              <a href="#">Trianer</a>
            </div> -->
            <div class="bi-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-pinterest"></i></a>
              <a href="#"><i class="fa fa-wifi"></i></a>
              <a href="#"><i class="fa fa-heart"></i></a>
            </div>
          </div>
          <!-- <div class="bd-comments">
            <h4>2 Comments</h4>
            <div class="comments-item">
              <div class="avatar-pic">
                <img src="/assets/img/avatar-1.png" alt="">
              </div>
              <div class="avatar-text">
                <span>27 Aug 2018</span>
                <h6>Brandon Kelley</h6>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                  adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                  dolore magnam.</p>
                <a href="#" class="reply-btn primary-btn">Reply</a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-11 offset-lg-1">
                <div class="comments-item">
                  <div class="avatar-pic">
                    <img src="/assets/img/avatar-2.png" alt="">
                  </div>
                  <div class="avatar-text">
                    <span>27 Aug 2018</span>
                    <h6>Brandon Kelley</h6>
                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
                      consectetur, adipisci velit, sed quia non numquam eius modi tempora
                      incidunt ut labore et dolore magnam.</p>
                    <a href="#" class="reply-btn primary-btn">Reply</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="comments-item">
              <div class="avatar-pic">
                <img src="/assets/img/avatar-3.png" alt="">
              </div>
              <div class="avatar-text">
                <span>27 Aug 2018</span>
                <h6>Brandon Kelley</h6>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                  adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                  dolore magnam.</p>
                <a href="#" class="reply-btn primary-btn">Reply</a>
              </div>
            </div>
          </div> -->
          <!-- <div class="comment-form">
            <h4>Leave A Comment</h4>
            <form action="#">
              <div class="row">
                <div class="col-lg-4">
                  <input type="text" placeholder="Name">
                </div>
                <div class="col-lg-4">
                  <input type="text" placeholder="E-mail">
                </div>
                <div class="col-lg-4">
                  <input type="text" placeholder="Website">
                </div>
                <div class="col-lg-12">
                  <textarea placeholder="Message"></textarea>
                  <button type="button">Send Message</button>
                </div>
              </div>
            </form>
          </div> -->
        </div>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <div class="blog-sidebar">
          <div class="sidebar-recent">
            <h4>Recent News</h4>
            <div class="sr-item" *ngFor="let new of news">
              <a href="#" class="active">
                <h5>{{new.title}}</h5>
              </a>
              <div class="blog-date">{{new.id | date}}</div>
            </div>
          </div>
          <div class="weekly-time">
            <h4>Open Hours</h4>
            <ul>
              <li *ngFor="let day of days">
                <p>{{day.day}}</p>
                <span>{{day.hour}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->

<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="map-location">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33245.297803635964!2d-73.76987401620775!3d40.704774398815005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1575866843291!5m2!1sen!2sbd" style="border:0;" allowfullscreen=""></iframe>
          <div class="map-widget">
            <i class="fa fa-map-marker"></i>
            <div class="map-address">
              <img src="/assets/img/map-location.jpg" alt="">
              <ul class="map-text">
                <li><span>Address:</span> Iris Watson, Box 283, NY</li>
                <li><span>Phone:</span> 12-456-791</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="footer-form set-bg" data-setbg="img/contact-form-bg.jpg">
          <div class="row">
            <div class="col-lg-10">
              <div class="section-title">
                <h2>Request A Call Back</h2>
                <p>Shape your body and burn fat with strength training. With the right equipment
                  such as free weights or resistance machines.</p>
              </div>
              <form action="#">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" placeholder="Name">
                  </div>
                  <div class="col-lg-6">
                    <input type="text" placeholder="Email">
                  </div>
                  <div class="col-lg-12">
                    <input type="text" placeholder="Subject">
                    <textarea placeholder="Message"></textarea>
                    <button type="submit">Submit <i class="ti-angle-double-right"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="register normal-register">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="copyright">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
          <div class="footer-widget">
            <ul>
              <li class="active">Privacy Policy</li>
              <li>Terms Of Service</li>
              <li>Careers</li>
            </ul>
          </div>
          <div class="footer-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
