<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2 text-uppercase">Activity</h1>
</div>
<div class="grey-bg container-fluid">
  <section id="stats-subtitle">
  <div class="row">
    <div class="col-12 mt-3 mb-1">
      <h4 class="text-uppercase">Gym Stats</h4>
      <p>Registros que se han hecho al GYM hasta el dia de hoy.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-12" style="margin-bottom: 15px;">
      <div class="card overflow-hidden">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="fa fa-user-o" style="color: lightskyblue; font-size: 50px; margin-right: 15px;"></i>
              </div>
              <div class="media-body">
                <h4>Registered users</h4>
                <span class="text-uppercase">Total</span>
              </div>
              <div class="align-self-center">
                <h1>180</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <i class="fa fa-newspaper-o" style="color: red; font-size: 50px; margin-right: 15px;"></i>
              </div>
              <div class="media-body">
                <h4>Published news</h4>
                <span class="text-uppercase">TOTAL</span>
              </div>
              <div class="align-self-center"> 
                <h1>869</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <h1 class="mr-2">456</h1>
              </div>
              <div class="media-body">
                <h4>Created routines</h4>
                <span class="text-uppercase">TOTAL</span>
              </div>
              <div class="align-self-center">
                <i class="fa fa-child" style="color: blue; font-size: 50px; margin-right: 15px;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-md-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body cleartfix">
            <div class="media align-items-stretch">
              <div class="align-self-center">
                <h1 class="mr-2">360</h1>
              </div>
              <div class="media-body">
                <h4>Created diets</h4>
                <span class="text-uppercase">TOTAL</span>
              </div>
              <div class="align-self-center">
                <i class="fa fa-cutlery" style="color: green; font-size: 50px; margin-right: 15px;"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>