<!-- <button type="button" class="btn btn-danger" (click)="logout()">Logout</button> -->

<div class="sidebar-sticky pt-3 bg sidebar text-white">
  <ul class="nav flex-column" style="font-family: 'Oswald', sans-serif; text-transform: uppercase;">
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': path == '/admin/home'}" [routerLink]="['/admin/home']" (click) = "onEvent('/admin/home')">
        <span data-feather="home"><i class="fa fa-home mr-2"></i></span>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': path == '/admin/users'}" [routerLink]="['/admin/users']" (click) = "onEvent('/admin/users')">
        <span data-feather="file"><i class="fa fa-users mr-2" aria-hidden="true"></i></span>
        Users
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': path == '/admin/gallery'}" [routerLink]="['/admin/gallery']" (click) = "onEvent('/admin/gallery')">
        <span data-feather="shopping-cart"><i class="fa fa-picture-o mr-2"></i></span>
        Gallery
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': path == '/admin/routines'}" [routerLink]="['/admin/routines']" (click) = "onEvent('/admin/routines')">
        <span data-feather="users"><i class="fa fa-male mr-2"></i></span>
        Routines
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': path == '/admin/diets'}" [routerLink]="['/admin/diets']" (click) = "onEvent('/admin/diets')">
        <span data-feather="bar-chart-2"><i class="fa fa-cutlery mr-2"></i></span>
        Diets
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': path == '/admin/blog'}" [routerLink]="['/admin/blog']" (click) = "onEvent('/admin/blog')">
        <span data-feather="users"><i class="fa fa-newspaper-o mr-2"></i></span>
        News
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': path == '/admin/notifications'}" [routerLink]="['/admin/notifications']" (click) = "onEvent('/admin/notifications')">
        <span data-feather="bar-chart-2"><i class="fa fa-bell mr-2"></i></span>
        Notifications
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active': path == '/admin/settings'}" [routerLink]="['/admin/settings']" (click) = "onEvent('/admin/settings')">
        <span data-feather="layers"><i class="fa fa-user-circle-o mr-2"></i></span>
        Account
      </a>
    </li>
  </ul>
</div>
