/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  transition: .4s;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: black;
  border-left: 6px solid #f34e3a;
  background-color: rgba(255, 255, 255, 0.4);
}

.sidebar .nav-link:hover {
  transition: .4s;
}

.sidebar .nav-link::after {
  content: "";
  display: block;
  width: 0%;
  border-bottom: 1px solid #fff;
  transition: .6s;
}

.sidebar .nav-link:hover:after {
  transition: .6s;
  width: 100% !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
  border-bottom: 0px solid;
  border-bottom-width: 0;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 100;}
}

.bg {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  background-image: url('/assets/sidenavbg.jpg');
  background-size: 20rem 52rem;
  background-repeat: no-repeat;
  filter: contrast(90%);
}
